@model IEnumerable<SiparisStokTakip.Entities.Kullanici>

@{
    ViewData["Title"] = "Hesaplar";
}

<h1>Hesaplar</h1>

<p>
    <a asp-action="HesapEkle">Yeni Hesap</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Adi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Soyadi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Eposta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KullaniciAdi)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Sifre)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Rol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Durum)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Adi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Soyadi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Eposta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KullaniciAdi)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Sifre)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Rol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Durum)
            </td>
            <td>
                <a asp-action="HesapGuncelle" asp-route-id="@item.ID">Güncelle</a> |
                @*<a asp-action="Details" asp-route-id="@item.ID">Details</a> |*@
                <a asp-action="HesapSil" asp-route-id="@item.ID">Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>
