@model IEnumerable<SiparisStokTakip.Entities.Siparis>

@{
    ViewData["Title"] = "Siparişler";
}

<h1>@ViewData["Title"]</h1>

@if (User.Identity.IsAuthenticated && User.IsInRole("Yönetici"))
{
    <p>
        <a asp-action="SiparisEkle">Yeni Sipariş Ekle</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            @*<th>
                    @Html.DisplayNameFor(model => model.MusteriID)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.SiparisTarihi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToplamTutar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SiparisDurumu)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @*<td>
                        @Html.DisplayFor(modelItem => item.MusteriID)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.SiparisTarihi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ToplamTutar)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SiparisDurumu)
                </td>
                <td>
                    <a asp-action="SiparisGuncelle" asp-route-id="@item.ID">Güncelle</a> |
                    <a asp-action="SiparisDetay" asp-route-id="@item.ID">Detay</a> |
                    <a asp-action="SiparisSil" asp-route-id="@item.ID">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>
