@model IEnumerable<SiparisStokTakip.Entities.Siparis>

@{
    ViewData["Title"] = "YeniSiparisler";
}

<h1>YeniSiparisler</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MusteriID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SiparisTarihi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToplamTutar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SiparisDurumu)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MusteriID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SiparisTarihi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToplamTutar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SiparisDurumu)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
